/* Popup styling */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.popup-content {
  background: var(--container-bg);
  color: var(--text-color);
  /* padding: 20px; */
  border-radius: 12px;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
}

/* Saat popup ditampilkan */
.popup-content.show {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
  padding: 10px 20px 10px 20px;
  /* margin-bottom: 10px; */
  border-bottom: 1px solid var(--table-border-color);
}

.popup-header h3 {
  margin: 0;
  font-size: 16px;
}

.popup-body {
  padding: 20px;
  font-size: 12px;
  word-wrap: break-word; /* wrap long words */
  overflow-wrap: break-word; /* modern equivalent, works better */
  white-space: normal; /* ensure text can wrap */
  align-items: center;
  text-align: left;
}

.popup-body ul {
  margin: 0;
  padding: 0 0 0 20px;
}

.info-icon {
  color: var(--btn-bg);
  margin-left: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* Bottom sheet */

.bottom-sheet {
  z-index: 1001;
  position: fixed;
  bottom: 0;
  width: 40%;
  max-height: 80vh;
  overflow-y: auto;
  background-color: var(--container-bg);
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 15px 15px 0 0;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
  overflow-y: auto;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.bottom-sheet.show {
  transform: translateY(0);
}

.sheet-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.sheet-header h2 {
  margin: 0;
}

.close-btn-bottom-sheet {
  background: var(--bg-color);
  border: none;
  color: var(--text-color);
  font-size: 16px;
  cursor: pointer;
  max-width: 30px;
  max-height: 30px;
  border-radius: 100%;
  padding: 3px 1px;
}

.close-btn-bottom-sheet i {
  width: 12px;
  height: 12px;
}

.close-btn-bottom-sheet:hover {
  background-color: var(--table-border-color);
}

.hidden {
  display: none;
}

/* Overlay when bottom sheet is open */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 1000; /* Pastikan ini di bawah bottom-sheet tapi di atas konten */
  transition: transform 0.3s ease-in-out;
}

.hidden {
  display: none;
}

.information-text {
  color: var(--text-color-desc);
  font-size: 10px;
  margin-bottom: 6px;
}
